
// set your custom colors here
$siteBgColorCustom: #F3F3EE;
$sidebarBgColorCustom: #ffff;
$textColorCustom: #17261E;
$sidebarTextColorCustom: #1F3329;

$headlineColorCustom: #2F4C3E;
$headingColorCustom: #4A7862;

$bodyLinkColorCustom: #4A7862;
$navLinkColorCustom: #497860;
$sidebarLinkColorCustom: #497961;

$footerTextColorCustom: #4A7862;

$buttonTextColorCustom: #FAF9F0;
$buttonHoverTextColorCustom: #FAF9F0;
$buttonBgColorCustom: #5D987B;
$buttonHoverBgColorCustom: #558B71;
$borderColorCustom: #DDDDCF;



$siteBgColorDark: #1F3329;
$sidebarBgColorDark: #17261E;
$textColorDark: #F3F3EE;
$sidebarTextColorDark: #ffff;

$headlineColorDark: #5D987B;
$headingColorDark: #558B71;

$bodyLinkColorDark: #558B71;
$navLinkColorDark: #5D987B;
$sidebarLinkColorDark: #5D987B;

$footerTextColorDark: #558B71;

$buttonTextColorDark: #F3F3EE;
$buttonHoverTextColorDark: #F3F3EE;
$buttonBgColorDark: #2F4C3E;
$buttonHoverBgColorDark: #4A7862;
$borderColorDark: #DDDDCF;
