// Override this file to add your own SCSS styling.

.row {
  display: flex;
}
.column {
  float: left;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

img
{
Padding-top: 15px; //padding positions
Padding-left: 25px; //padding positions
}